
<body>
    <h1>Send Request</h1>
    <form name="contact" netlify>
        <label>Email Address : <input type="email" name="email"></label>
        <label>Message <textarea name="message"></textarea></label>
        <button type="submit">Submit</button>
    </form>
</body>