<!DOCTYPE html>,
<head>
    
</head>
<body>
    <form name="contact" method="POST" data-netlify="true">
        <label> Email :
            <input type="email" name="email">
        </label>
        <button type="submit">Send</button>
    </form>
</body>