---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
---
<!-- Below is your "component template." It's just HTML, but with
some magic sprinkled in to help you build great templates. -->

<html>
  <link rel="stylesheet" href="./style.css">
  <img>
    <h1>Hello, World!</h1>
    <nav class="navbrar">
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
    <img src="/src/images/mb.jpeg">

    <h2>Hello</h2>
  </body>
</html>
